.header {
  display: flex;
  justify-content: space-between;
  border: 2px solid cadetblue;
}

.logo {
  width: 70px;
  margin: 7px;
}
.nav-items ul{
  display: flex;
  border: 2px solid blue;
  padding: 0 20px;
}

.nav-items ul li{
  margin: 8px;
  list-style: none;
}